.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio li {
  list-style-type: none;
}

.toolbar, .projects  {
  display: block;
  margin: 30px 15px;
  width: 100%;
}

.toolbar-list {
  margin: 0px 0px 0px 30px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toolbar-item {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0px 7px 0px 0px;
  text-align: center;
  border: 2px solid grey;
}

.toolbar-item.active {
  color: white;
  background-color: grey;
}

.projects-item {
  margin: 20px;
  cursor: pointer;
}
