.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio li {
  list-style-type: none;
}

.toolbar, .projects  {
  display: block;
  margin: 30px 15px;
  width: 100%;
}

.toolbar-list {
  margin: 0px 0px 0px 30px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toolbar-item {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0px 7px 0px 0px;
  text-align: center;
  border: 2px solid grey;
}

.toolbar-item.active {
  color: white;
  background-color: grey;
}

.projects-item {
  margin: 20px;
  cursor: pointer;
}
